<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614241049817-anvko4t7ivet29u7gm3u5424si78erc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614241049817-anvko4t7ivet29u7gm3u5424si78erc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDPLtMclkyJfXuop6Z6cujz3gxWV0zZUKc</string>
	<key>GCM_SENDER_ID</key>
	<string>614241049817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.ExerciseDB</string>
	<key>PROJECT_ID</key>
	<string>exercisedb-572bf</string>
	<key>STORAGE_BUCKET</key>
	<string>exercisedb-572bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614241049817:ios:16255966a1e2df0d2b72c8</string>
</dict>
</plist>